<h1>Listing annoyances</h1>

<table>
  <tr>
    <th>Words</th>
    <th>Handle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @annoyances.each do |annoyance| %>
  <tr>
    <td><%= annoyance.words %></td>
    <td><%= annoyance.handle %></td>
    <td><%= link_to 'Show', annoyance %></td>
    <td><%= link_to 'Edit', edit_annoyance_path(annoyance) %></td>
    <td><%= link_to 'Destroy', annoyance, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Annoyance', new_annoyance_path %>
